In [4]:
from core import valuation

valuation('002415', riskfree_rate=4)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,海康威视,93.64,148.99,16.97,25.0,238.44,3736.21 (39.9),5961.0 (63.66),2980.5 (31.83),7449.5 (79.55)

In [5]:
valuation('000333', riskfree_rate=6)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,美的集团,69.97,272.96,10.15,16.67,364.8,3766.63 (53.83),6080.0 (86.89),3040.0 (43.45),9120.0 (130.34)

In [6]:
valuation('000651', riskfree_rate=6)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,格力电器,56.31,231.24,-2.21,16.67,216.25,2078.55 (36.91),3604.17 (64.01),1802.08 (32.0),5406.26 (96.01)